{% extends "day_template.html" %}
{% block title %}Day 2{% endblock %}
{% block content %}
  <div class="advent-content" style="text-align: center; color:#757575;">
    <h2>7 Wishes for You</h2>
    
    <p style="color: #757575; font-size: 1.1rem; max-width: 600px; margin: 0 auto; margin-top: 20px; font-style: italic;">
      My love, as the countdown continues, I wanted to share with you seven wishes, each one filled with love and hope for us, now and forever.
    </p>
  
    <ul style="list-style-type: none; font-size: 1.1rem; max-width: 600px; margin: 20px auto; text-align: left; padding: 0;">
      <li>✨1. I wish for your happiness, today and always, for you deserve nothing less than joy in every moment.</li>
      <li>✨2. I wish for our love to grow deeper every day, evolving into something even more beautiful than it is now.</li>
      <li>✨3. I wish for countless more memories, the kind that will make us smile every time we think of them.</li>
      <li>✨4. I wish for our future together to be full of laughter, adventure, and dreams we can make come true.</li>
      <li>✨5. I wish for us to always find our way back to each other, no matter the distance or time that separates us.</li>
      <li>✨6. I wish for your heart to always be at peace, knowing that you are my everything, today and forever.</li>
      <li>✨7. I wish for forever with you. No matter where life takes us, no matter what comes our way, my biggest wish is that we always have us. 7 days until you steal the spotlight, and I get to celebrate you the most precious gift life has ever given me.</li>
    </ul>
  
    <p style="color: #757575; font-size: 1.1rem; max-width: 600px; margin: 20px auto;">
        Until then, know this: I am yours, completely, madly, endlessly. And I wouldn’t want it any other way. Happy almost-birthday week my love. Forever yours, Your biggest admirer, your always and forever.
      I can’t wait to make these wishes come true with you, my love. ❤️
    </p>
  </div>
  
{% endblock %}
