{% extends "day_template.html" %}
{% block title %}Day 3{% endblock %}
{% block content %}
<div class="advent-content" style="max-width: 700px; margin: 0 auto; padding: 2rem; ">

    <h2 style="color: #d96da7; text-align: center;">Little Things I love about You 🐣</h2>

    <p style="color: #4f4f4f; line-height: 1.7; font-size: 1.1rem;">
        I present to you... <strong>“Humeraa-isms”</strong> — a list of adorable, chaotic, and iconic things that only <em>you</em> do.  
    </p>

    <ul style="color: #4f4f4f; font-size: 1.05rem; padding-left: 1.2rem;">
        <li>You talking about something you love (me) and other things but mainly me</li>
        <li>Seeing you get happy when you are thinking about what I sent on text or vlogs</li>
        <li>Your random ways of affirming love to me, you just thinking about me and letting me know like once you were in office and you just sent me cute good morning message </li>
        <li>The suspicious side-eye you give when you <em>know</em> you’re right (and I don’t agree... yet).</li>
        <li>The way you say “Yousuf” with the cutest of voice ever.</li>
        <li>Your Goofiness in the vlogs (chefs kiss)</li>
        <li>Your evil laugh when you’re lowkey enjoying me getting roasted by you.</li>
        <li>When you rant about your roothi huwi saas aka sir and your bak bak wowwwwwwww</li>
        <li>Your love for crime, murder mystery. Even though I am scared I am marrying serial killer😅</li>
        <li>Your obsession with pineapples 🍍 and peri peri fries 🍟 like they’re gourmet.</li>
        <li>How can I forget the so yeahs, the Hi gois, the sweet texts, Hand emojis, you keeping your specs properly</li>
        <li>That sweet-switch: one moment lawyer mode, next moment soft baby girl.</li>
        <li>Finally You, yes I Lo.. You</li>
    </ul>

    <p style="color: #4f4f4f; font-size: 1.1rem; margin-top: 1.5rem;">
        These are the little quirks I secretly adore.  
        Please never change them. (Well… maybe the roasting part, a little 😅)
    </p>

    <p style="color: #757575; text-align: right; font-weight: bold; margin-top: 2rem;">
        — Your favourite observer,<br>
        London Boy 💛
    </p>
</div>
{% endblock %}
